@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: sans-serif, Arial;
    margin: 0px;
    padding: 0px;
}

.pic {
    background-image: url("https://plus.unsplash.com/premium_photo-1667587245819-2bea7a93e7a1?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 80vh;
}

.butn {
    background-color: #333;
    border-radius: 12px;
    color: white;
}

header {
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: bold;
    padding: 1em;
}

.heading {
    font-family: Trebuchet MS;
    font-weight: bold;
}

.abt {
    font-family: Trebuchet MS;
    font-weight: bold;

}

.siz {
    font-size: 20px;
}

.midsize {
    font-size: 14px;
}

.theme {
    background: url("https://images.unsplash.com/photo-1676554436967-3b923dd87c3f?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 60vh;
    color: #333;
    background-size: cover;
}

.bol {
    font-weight: bold;
    padding: 25px;
}

nav {
    background-color: #333;
    padding: 1em;
    text-align: end;
    font-weight: bold;
}

.skilltheme {
    background-image: url("https://images.unsplash.com/photo-1677155875750-9eb42b39f4e5?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 60vh;
    color: #333;
    background-size: cover;
}

.contacttheme {
    color: #fff;
    background-color: #333;
    height: 30vh;
    background-size: cover;

}

.certithe {
    background-image: url("https://images.unsplash.com/photo-1654358104397-4c2285e74345?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 80vh;
    color: #333;
    background-size: cover;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: underline;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    list-style-type: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.hyper {
    color: #333;
    font-weight: bold;
    background-image: url("https://images.unsplash.com/photo-1677155875750-9eb42b39f4e5?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 10vh;
    width: 100vh;
}

nav a:hover {
    color: #ccc;
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

section {
    padding: 20px;
    margin-bottom: 10px;
}

h1,
h2 {
    margin-top: 0;
}

p,
ul {
    margin-bottom: 10px;
    list-style-type: circle;
}

.dimen {
    height: 20vh;
    width: 20vh;
    display: flex;
    justify-content: flex-end;
}

hr {
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

hr {
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}